<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
      <a class="sidebar-nav-item{% if page.title == "Hairstyling" %} active{% endif %}" href="/hairstyling">Hairstyling</a>
      <a class="sidebar-nav-item{% if page.title == "Cravings" %} active{% endif %}" href="/cravings">Cravings</a>
      <a class="sidebar-nav-item{% if page.title == "Consulting" %} active{% endif %}" href="/consulting">I.T. Consulting</a>
      <a class="sidebar-nav-item{% if page.title == "Contact me" %} active{% endif %}" href="/contact">Contact me</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
